# .NET build artifacts
**/bin/
**/obj/

# VS Code
.vscode/

/.vs/Sistema/FileContentIndex
/.vs/ProjectEvaluation
/.vs/Sistema/DesignTimeBuild
/.vs/Sistema/v17/.suo
/.vs/Sistema/v17/.suo
/.vs/Sistema/v17/DocumentLayout.backup.json
/.vs/Sistema/v17/DocumentLayout.json
/Sistema.MVC/Properties/launchSettings.json
/.vs/Sistema/v17/.futdcache.v2
/0 - Apresentacao/Sistema.MVC/Properties/launchSettings.json
/0 - Apresentacao/Sistema.API/log
