@use 'sass/variables' as v;
@use 'sass/mixins';
@use 'sass/base';

:root {
  --header-bg: #{v.$azul};
  --sidebar-bg: #{v.$azul};
  --rightbar-bg: #f8f9fa;
  --footer-bg: #{v.$azul};
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: #212529;
    --sidebar-bg: #212529;
    --rightbar-bg: #343a40;
    --footer-bg: #212529;
  }
}

.header-bg { background-color: var(--header-bg) !important; }
.sidebar-bg { background-color: var(--sidebar-bg) !important; }
.rightbar-bg { background-color: var(--rightbar-bg) !important; }
.footer-bg { background-color: var(--footer-bg) !important; }
