@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body text-center">
        <h1 class="display-4">Bem-vindo!</h1>
        <p>Selecione uma funcionalidade no menu lateral.</p>
    </div>
</div>
