@model Sistema.MVC.Models.ForgotPasswordViewModel
<form id="forgotForm">
    <div class="mb-3">
        <label asp-for="Cpf" class="form-label"></label>
        <input asp-for="Cpf" class="form-control" id="RecCpf" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" id="RecEmail" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Enviar</button>
</form>
